.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

.header-logo {
    margin-left: 20px;
}

.username {
    margin-right: 10px;
    font-weight: bold;
}

.home-icon {
    font-size: 50px;
    color: black;
    cursor: pointer;
}

.home-icon:hover {
    color: blue;
}
