.body-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Stretch to take full height */
    max-height: 100vh;
}

.left-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-right: 12px;
    padding: 20px; 
    background-color: #f0f0f0; 
}

.center-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-container h1 {
    font-size: 24px;
    color: black;
    align-self: flex-start;
    margin-left: 20px;
}

.youtube-player {
    margin-bottom: 0;
}

.right-container {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    transition: box-shadow 0.3s;
    height: 100%; /* Distribute the height evenly */
    background-color: white; /* Just for visualization */
}

.product-image img {
    height: 7em;
    margin-right: auto;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 20px;
}

.product-name {
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.product-price {
    font-size: 14px;
    font-weight: bold;
    color: #888;
    margin: 5px 0;
}
